* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detail{
    margin-left: 8%;
    margin-top: 15%;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: #8FFF00;
}

.detail p{
    color: #555;
    line-height: 22px
}



.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 93%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .bgshape{
    bottom: 40px;
}
.images:hover .surajfront{
    left: 45%;
}


/*----about ,  skills----*/

 #about{
        padding: 1px 0px;
        display:flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .about-left-col{
        flex-basis: 50%;
    }
    
    .about-left-col img{
        width: 100%;
        margin-left: 90px;
    }

    .about-right-col{
        flex-basis: 50%;
        text-align: right;
    }


    .about-text{
        max-width: 520px;
        margin-top: 100px;
        margin-left: 60px;
    }

    h1{
        font-size: 35px;
    
    }

    p{
        font-size: 20px;
        margin-top: 25px;
    }

    
/*---project---*/
#project{
    padding: 1px 0px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
}
.project-left-col{
    flex-basis: 50%;
}

.project-right-col{
    flex-basis: 50%;
    text-align: right;
}


/*---resume---*/

.resume a{
    background: #aeff00;
    padding: 30px 40px;
    text-decoration: none;
    font-weight: bold;
    color: #050505;
    display: inline-block;
    margin: 30px 0;
    border-radius: 50px;
    margin-left: 45%;
    margin-top: 10%;
}
    

  /*--contact----*/
  .contact-row{
    padding: 150px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-top: -5%;
   }

   .contact-left-col, .contact-right-col{
    flex-basis: 50%;
   }

   .contact-right-col img{
    width: 90%;
   }


 

/*--Footer--*/

#footer{
    padding: 0px 0 30px;
    margin-left: 5%;
    margin-right: 5%;
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #8FFF00;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
.footer-logo img{
    width: 100px;
}

.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    background-color:#ffffff ;
    color: #8FFF00;
    
}
.copyright-text, .footer-logo{
flex-basis: 40%;
}


/*--social-icons--*/

.social-icons{
    width: 50px;
    position: fixed;
    top:36%;
    left: 1%;
    transform: translateY(50%);
    z-index: 1;
}

.social-icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

